.App {
    text-align: center;
}



.act {
    background-color: aquamarine;
}

.def {
    background-color: #9d1ece;
}

/*Если использовать .active то применится ко всем ссылкам*/

.active{
    font-size: 30px;
}